<form method="get" id="search-google" action="https://www.google.com/search" target="_blank">
  <input type="hidden" name="sitesearch" value="bhkristiansen.com" />
  <input type="text" name="q" maxlength="255" value="" placeholder="via Google" class="google form-control" style="width: 100%;" />
</form>

<form method="get" action="https://duckduckgo.com/" target="_blank">
    <input type="text" name="q" placeholder="Via DuckDuckGo" class="google form-control" style="width: 100%;" />
    <input type="hidden" name="sites" value="www.bhkristiansen.com" />
    <input type="hidden" name="k7" value="b2" />
    <input type="hidden" name="kj" value="b2" />
    <button type="submit">&#128269;</button>
</form>
